<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aplicacionsarmientitoii">
    <uses-permission android:name="android.permission.INTERNET">

    </uses-permission>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicacionSarmientitoII"
        tools:targetApi="31"
        >

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VerTablaGeneral"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="Fase de Grupos"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ZonasActivity"
            android:exported="true"
            android:parentActivityName=".ModificarEncuentroActivity"
            android:label="Fase de Grupos"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".AhoraSiModificarActivity"
            android:exported="true"
            android:parentActivityName=".CosasDetalleZona.DetallesZonaActivity"
            android:label="Fase de Grupos"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".CosasDetalleZona.DetallesZonaActivity"
            android:exported="true"
            android:parentActivityName=".ZonasActivity"
            android:label="Fase de Grupos"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".CosasDetalleZona.DetallesZonaCruceActivity"
            android:exported="true"
            android:parentActivityName=".ZonasActivity"
            android:label="Fase de Grupos"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".CosasCruce.AhoraSiModificarCruceActivity"
            android:exported="true"
            android:parentActivityName=".CosasDetalleZona.DetallesZonaCruceActivity"
            android:label="Fase de Grupos"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".CrearCruceActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="Fase de Grupos"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Tablas"
            android:exported="true"
            android:parentActivityName=".VerTablaGeneral"
            android:label="Tabla General"
            ></activity>

        <activity
            android:name=".ModificarEncuentroActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="Fase de Grupos"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".CrearEncuentroActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="Fase de Grupos"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".CrearPlantillaCruce"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="Fase de Grupos"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>